extends ../layout_no_header

block content
  br
  .row
    .col-md-3
    .col-md-6
      .row
        .col-md-3
          img.img-responsive(src='#{app.imageUrl}')
        .col-md-9
          h1
            - for (var i = 0; i < review.rate; ++i) {
              i.fa.fa-star
            - }
            - for (var i = review.rate; i < 5; ++i) {
              i.fa.fa-star-o
            - }
          h2 #{review.title}
          p.lead #{review.comment}
          p by #{review.author} via App Store
          hr
          .row
            .col-md-6
              a(href="https://itunes.apple.com/us/app/id" + app.storeId)
                img.img-responsive(src="/images/appstore.png")